.list-group-item-text{
	display:inline-block;
}
.container{
	position: relative;
	width: 800px;
}

p{
	font-size:20px;
	float: right;
}
h2{
	text-align: center;
	padding-bottom: 50px;
}
button{
	float:right;
	width: 100px;
}