.list-group-item-text{
	display:inline-block;
}
.order-details{
	position: relative;
	width: 800px;
	top:100px;
}

p{
	font-size:20px;
	float: right;
}
h2{
	text-align: center;
	padding-bottom: 50px;
}
.orderDetailsButtons{
	float:right;
	width: 100px;
}