/* Another good background color is: #141414; */

body {
	font-family:'Roboto', sans-serif;
}

.userDetails {
	margin-right: 200px;
}

.userIcon {
	width: 50px;
    height: 50px;
    line-height: 50px;
}

.userIcon-circle {
	font-size: 50px;
}

.userName{
	color:white;
}
.userName:hover,.userName:active{
	color:white;
}

.navbar-color{
	background-color:#6D686B;
}

.navbar-toggle.navbar-toggle-border-color {
	border-color: transparent;
}

.navbar-inverse .navbar-nav>li>a{
	color:white;
	-webkit-transition: background-color 1s; 
	transition:background-color 1s;
}

.navbar-inverse .navbar-nav>li>a:hover{
	background-color:#474747;
	-webkit-transition: background-color 1s;
	transition:background-color 1s;

}

.navbar-inverse .navbar-nav>.active>a,
 .navbar-inverse .navbar-nav>.active>a:focus,
  .navbar-inverse .navbar-nav>.active>a:hover {
  	background-color:#333;
  	-webkit-transition: background-color 1s; 
	transition:background-color 1s;
}


.userIcon .fa-user{
	color:white;
	-webkit-transition: color 1s;
	transition:color 1s;
}

.userIcon .fa-user:hover{
	color:#6DC2E9;
	-webkit-transition: color 1s; 
	transition:color 1s;
}

.table-container{
	background-color: #6D686B;
	text-align: left;
	float:left;
    margin:10px;
}

.outer-container{
	margin-top:100px;
	height:500px;
	text-align: center;
}

.btn-group-lg>.btn, .btn-lg{
	width:500px;
	border-radius: 0;
	background-color: #6D686B;
	color:white;
}

.btn-default.active, .btn-default.focus,
 .btn-default:active, .btn-default:focus,
  .btn-default:hover{
	background-color: #474747;
	color:white;
}

.hidden{
	display:none;
}


.button-place{
	text-align: center;
}

.content-page{
	position:relative;
	top:200px;

}


div#table-design-right>table{
	background-color: #6D686B;
	color:white;
}

tr:hover{
	color:black;
}

div#table-order-left>table{
	background-color: #6D686B;
	color:white;

}

div#manufacturer-table table{
	background-color: #6D686B;
	color:white;
}
hr{
  border-radius: 5px;
  border-bottom: 3px solid #C1CDC1;
  border-top: 3px solid #838B83;
}

/* Horizontal bars for users*/

li {
    float: left;
    border-radius: 5px;
    margin-right:5px;
}

#clearLeftGroup{
	clear:both;
}


.main-form-group{
	padding-top:10px;
	width: 400px;

}

.main-form-group, .new-milestone-header{
margin-left: auto;
margin-right: auto;
}

.new-milestone-header{
	text-align: center;
	padding-top: 20px;
}

.alertPeopleLI{
	margin:10px;
	cursor:cell;
}

.alertPeopleUL {
  width: 400px;
  min-height: 62px;
  background: grey;
  float: left;
  clear:both;
  border-radius: 5px;
}
div#tableAlerts table{
	background-color: #6D686B;
	color:white;
}

div.fc-center>h2{
	margin-top: 20px;
}
