
.navbar-nav{
	float:right;
	width:85%;
}
.fa-user{
	color:white;
	width: 100%;
}
.userIcon{
	float:left;
}
.userName{
	float:left;
	color:white;
	text-align: center;
	position:relative;
	top:18px;
}
.navbar{
	background-color:#6D686B;
	border:none;
	width:100%;
}
.navbar-inverse .navbar-nav>li>a{
	color:#E6E6E6;
}

.navbar-inverse .navbar-nav>.active>a,
 .navbar-inverse .navbar-nav>.active>a:focus,
  .navbar-inverse .navbar-nav>.active>a:hover {
  	background-color:#333;
  }