/* Another good background color is: #141414; */
body{
	background-color: #eaeaea;
	font-family:'Roboto', sans-serif;
}

.navbar-nav{
	float:right;
	width:85%;
	margin:0;
}

.fa-user{
	color:white;
	width: 100%;
}

.userIcon{
	float:left;
}

.userName{
	float:left;
	color:white;
	text-align: center;
	position:relative;
	top:18px;
}

.navbar{
	background-color:#6D686B;
	border:none;
	width:100%;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.navbar-inverse .navbar-nav>li>a{
	color:white;
	padding: 20px;
	-webkit-transition: background-color 1s; /* Safari */
	transition:background-color 1s;

}

.navbar-inverse .navbar-nav>li>a:hover{
	background-color:#474747;
	padding:20px;
	-webkit-transition: background-color 1s; /* Safari */
	transition:background-color 1s;

}

.navbar-inverse .navbar-nav>.active>a,
 .navbar-inverse .navbar-nav>.active>a:focus,
  .navbar-inverse .navbar-nav>.active>a:hover {
  	background-color:#333;
  	padding: 20px;
  	-webkit-transition: background-color 1s; /* Safari */
	transition:background-color 1s;
}

ul.navbar-nav li{
	margin-right: 20px;
	font-size:17px;
}

.fa-user{
	color:white;
	-webkit-transition: color 1s; /* Safari */
	transition:color 1s;
}

.fa-user:hover{
	color:#6DC2E9;
	-webkit-transition: color 1s; /* Safari */
	transition:color 1s;
}